.black {
  background-color:black;
  min-height: 100px;
  overflow: hidden;  
  clear: both;
}

.block {
  margin-top: 8%;
  height: 400px;
}

h1 {
  padding-top: 5%;
  font-size: 60px;
  color: #EFEFEF;
  text-align: center;
}